[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
jupyterthemes = "*"
statsmodels = "0.14.0"
pykalman = "0.9.5" 
plotly = "5.18.0" 
streamlit = "1.29.0" 
lime = "0.2.0.1"
wordcloud = "1.9.2" 
alive-progress = "3.1.4" 
opencv-python = "4.8.0.76"
opencv-contrib-python = "4.8.0.76"
tensorflow-cpu = "2.12.0"
s3fs = "2023.6.0"
pandas = "1.5.3"
polars = "0.18.15"
matplotlib = "*"
ipykernel = "*"
ipywidgets = "*"
seaborn = "*"
geopandas = "0.13.2"
streamz = "0.6.4"
kafka-python = "2.0.2"
zarr = "2.14.2"
deltalake = "0.8.1"
scikeras = "0.10.0"
beautifulsoup4 = "4.12.2" 
selenium = "4.12.0"
ultralytics = "8.0.180"
sortedcontainers = "2.4.0"
networkx = "3.1"
graphviz = "0.20.1"
xgboost = "2.0.0" 
lightgbm = "4.1.0" 
imbalanced-learn = "0.11.0"
cloudpickle = "2.2.1"
dask = { version = "2023.3.2", extras = ["complete"] }
dask-ml = { version = "2023.3.24", extras = ["complete"] } 

[requires]
python_version = "3.10"
